/* CONTEUDO PARTE ESQUERDA */
.container_conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--fonte-principal);
    margin-top: 4rem;
}

.conteudo_esquerda {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order:2;
}

.conteudo_textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-top: 2rem;
}

.nome_esquerda-h2::before {
    animation: 
    typing 2s steps(10),
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.subtitulo_esquerda {
    font-size: 1.2rem;
    color: var(--cor-branca);
    margin-bottom: 1rem;
}

.titulo_esquerda {
    font-size: 2rem;    
    color: var(--cor-branca);
}

.efeito_nome {
    color: var(--cor-primaria);
    font-size: 2.8rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    text-shadow: 0 0 5px var(--cor-primaria);
}

.paragrafo_esquerda{
    font-size: .8rem;
    margin-top: 2rem;
    flex-wrap: wrap;    
    color: var(--cor-tercearia);
    width: 50%;
}

.conteudo_lista_social {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.conteudo_lista_social p {
    margin: .8rem;
}

.lista_social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.botao_cv {
    display: flex;
}

.botao_cv:hover,
.link_lista_social:hover {
    background: var(--cor-primaria);
    box-shadow: 0 0 1px 1px var(--cor-primaria);
}

.link_lista_social {
    display: flex;
    margin-top: 2.2rem;
}

.link_lista_social i {
    font-size: 1.2rem;    
}

.link_lista_social p {
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: .8rem;
}

.linha_lista_social {
    display: flex; 
    padding: .6rem;
    color: var(--cor-primaria);
    align-items: center;
    border: 1px solid var(--cor-primaria);
    border-radius: 24px ;
}

.linha_lista_social:hover {
    color: var(--cor-branca);
}

/* CONTEUDO PARTE DIREITA */

.conteudo_direita {
    order: 1;
    display: flex;
    justify-content: center;
}

.imagem_direita {
    display: flex;
    height: 15rem;
}

/* DADOS */

.dados {
    font-family: var(--fonte-principal);
}

.container_dados {
    display: flex;
    justify-content: space-evenly; 
    flex-direction: column;
    margin-top: 2.2rem;
}

.infos {
    display: flex;
    gap:2.2rem 0;
    align-items: center;
    justify-content: center;
    margin-top: 2.2rem;
}

.dados_numeros {
    font-size: 3.2rem;
}

.dados_textos {
    font-size: 1.2rem;
    color: var(--cor-tercearia);
}

@media (min-width:720px) and (max-width:1439px){
    .container_conteudo {
        flex-direction: row;        
        margin-top: 8rem;
        height: 100%;
    }

    .conteudo_esquerda {
        order:1;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    
    .conteudo_direita {
        order: 2;
        width: 50%;
    }

    .imagem_direita {
        width: 80%;
        height: 85%;
    }

    .conteudo_textos{
        flex-direction: column;
        justify-content: center ;
        align-items: center;
        margin: 2.2rem;
    }

    .paragrafo_esquerda {
        flex-wrap: wrap;
        width: 50%;
        margin-left: 1.6rem;
    }
    
    .conteudo_lista_social {
        flex-direction: row;
        gap: 2rem;
    }

    .link_lista_social {
        margin: 0;
    }

    .lista_social {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .dados {
        margin-top: 5rem;
    }
        
}

@media (min-width:1440px) {

    .container_conteudo {
        flex-direction: row;        
        margin-top: 8rem;
        height: 100%;
    }

    .conteudo_esquerda {
        order:1;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    
    .conteudo_textos {
        gap: 2rem;
    }

    .titulo_esquerda {
        font-size: 2.4rem;
    }

    .efeito_nome {
        font-size: 5rem;
    }

    .subtitulo_esquerda {
        font-size: 2rem;
    }

    .paragrafo_esquerda {
        font-size: 1rem;
        width: 50%;
    }

    .conteudo_lista_social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 5rem 0;
    }

    .lista_social {
        width: 20%;
        justify-content: center;
        flex-direction: row;
        gap: 2rem;
        margin-left: 2rem;
    }

    .link_lista_social {
        display: flex;
        margin-top: 0;
    }

    .conteudo_direita {
        order: 2;
        width: 50%;
    }

    .imagem_direita {
        width: 80%;
        height: 85%;
    }
    
    .container_dados {
        display: flex;
        flex-direction: row;
        margin-top: -4rem;
    }  
    
 
}