.container_dados {
    display: flex;
    justify-content: space-evenly;
    font-family: var(--fonte-principal);
}

.infos {
    display: flex;
    gap:1.2rem;
    align-items: center;
}

.dados_numeros {
    font-size: 3.2rem;
}

.dados_textos {
    font-size: 1.2rem;
    color: var(--cor-tercearia);
}

@media (min-width:1440px) {
    .container_dados {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
    }
}