.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: var(--fonte-principal);
    background: var(--cor-background);
    position: sticky;
    top: 0;
    height: 4rem;
}

.container_cabeçalho {
    display: flex;
    justify-self: flex-start;
    align-items: center;
}

.cabeçalho_logo_titulo {
    font-size: 2rem;
}

.estilo_titulo {
    font-size: 2.5rem;
    color: var(--cor-primaria);
}

.container_lista_cabeçalho {
    display: flex;
}

.lista_cabeçalho {
    display: none;
    gap: 1rem;
}

.botao_cabeçalho {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1.6rem;
    background-color: var(--cor-primaria);
    color: var(--cor-preta);
}

.botao_cabeçalho:hover{
    background: var(--cor-hover2);
    text-shadow: 0 0 12px var(--cor-preta);
    box-shadow: 0 0 1px 1px var(--cor-hover2);
}

@media (min-width:1440px){

    .lista_cabeçalho {
        display: flex;
        align-items: center;
        margin-right: 3rem;
    }

    .item_cabeçalho {
        text-decoration: none;
        color: var(--cor-branca);
    }

    .item_cabeçalho:hover{
        color: var(--cor-primaria);
    }

}
