.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fonte-principal);
    background: var(--cor-background);
    position: fixed;
    top: 0;
    height: 4rem;
    width: 100%;
}

.container_cabeçalho {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    margin-left: 3rem;
}

.cabeçalho_logo_titulo {
    font-size: 2rem;
    display: flex;
    align-items: center;
    order:1;
    cursor: pointer;
}

.estilo_titulo {
    font-size: 2rem;
    color: var(--cor-primaria);
}

.container_lista_cabeçalho {
    display: flex;
}

.lista_cabeçalho {
    display: none;
    font-size: 1rem;
    gap: 1.8rem
}

.item_cabeçalho {
    text-decoration: none;
    color: var(--cor-branca);
    font-size: 1.2rem;
}

.botao_cabeçalho {
    display: none;
    justify-content: center;
    align-items: center;
    padding: .8rem 1.6rem;
    background-color: var(--cor-primaria);
    color: var(--cor-preta);
}

.botao_cabeçalho:hover{
    background: var(--cor-primaria);
    text-shadow: 0 0 12px var(--cor-preta);
    box-shadow: 0 0 1px 1px var(--cor-primaria);
}

.abrir_nav {
    font-size: 20px;
    cursor: pointer;
    background-color:transparent;
    color: var(--cor-tercearia);
    padding: 10px 15px;
    border: none;
    margin-right: 20px;
    order:3
}

.abrir_nav:hover {
    background-color: transparent;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--cor-background);
    font-family: var(--fonte-principal);
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 60px;
    box-shadow: -1px 1px 5px var(--cor-quaternaria);
    border-top-left-radius: 8px;
}

.sidebar a {
    justify-content: fle;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--cor-branca);
    display: block;
    transition: 0.3s;
    margin-top: 2rem;
}

.sidebar a:hover {
    color: var(--cor-primaria);
}

.sidebar .fechar_nav {
    position: absolute;
    top: -1.1rem;
    right: 25px;
    font-size: 1.4rem;
    margin-left: 50px;
}
.sidebar-open {
    width: 250px;
}
.body-lock {
    overflow: hidden;
}

@media (min-width:720px) and (max-width:1440px) {
    .cabeçalho{
        justify-content: space-between;
    }

    .abrir_nav {
        display: flex;
        order:2;
    }

    .cabeçalho_logo_titulo {
        display: flex;
    }

    .botao_cabeçalho {
        display: none;
    }

}

@media (min-width:1440px){
    .cabeçalho{
        justify-content: space-between;
    }

    .container_cabeçalho {
        margin-left: 3rem;
    }

    .container_lista_cabeçalho {
        margin-right: 3rem;
    }

    .abrir_nav {
        display: none;
    }

    .lista_cabeçalho {
        display: flex;
        align-items: center;
        margin-right: 3rem;
    }

    .cabeçalho_logo_titulo {
        display: flex;
    }

    .item_cabeçalho {
        text-decoration: none;
        color: var(--cor-branca);
    }

    /* .item_cabeçalho:hover{
        color: var(--cor-primaria);
        text-shadow: 0 0 1px var(--cor-primaria);
        border-bottom: 1px solid var(--cor-primaria);
    } */

    .item_cabeçalho::after{
        color: var(--cor-primaria);
        text-shadow: 0 0 1px var(--cor-primaria);
        border-bottom: 1px solid var(--cor-primaria);
    }

    .botao_cabeçalho {
        display: flex;
    }

}
