@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url(header.css);
@import url(conteudo.css);
@import url(dados.css);

:root {
    --cor-branca: #fff;
    --cor-preta:#000000;
    --cor-background: #273133;
    --cor-primaria:#04D9B2;
    --cor-secundaria:#038C73;
    --cor-tercearia:#b4b4b4;
    --cor-hover:#B3F2E7;
    --cor-hover2:#3CFABC;

    --fonte-principal: "JetBrains Mono", monospace;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-background);
    color: var(--cor-branca);
    transition: 2s;
}

.botao {
    text-decoration: none;    
    align-self: center;
    border-radius: 24px;
    transition: all 0.5s ease;
}

